@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
  --font-sans: "Manrope", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #181825;
}
::-webkit-scrollbar-thumb {
  background: #45475a;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c7086;
}
